---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
cart: true
---
{{inject 'cancelButtonText' (lang 'common.cancel')}}
{{#partial "page"}}
{{inject 'invalidEntryMessage' (lang 'cart.invalid_entry_message')}}
<div class="container">
    <div class="page page-cart{{#if theme_settings.halo_shipping}} has-calculate-shipping{{/if}}">
        <div class="page-header">
            {{> components/cart/page-title}}
        </div>
        {{#and (if theme_settings.halo_shipping) (if cart.items.length)}}
            <div class="halo-free-shipping-message animated-loading">
                <div class="shipping-message">
                    <span class="message"></span>
                    <span class="progress-percent">0%</span>
                </div>
                <div class="progress-shipping" role="progressbar">
                    <div class="progress-meter" style="width: 0"></div>
                </div>
            </div>
        {{/and}}
        <div class="page-content" data-cart>
            {{#if cart.items.length}}
                <div class="loadingOverlay"></div>
                <div class="cart-content-wrapper">
                    <div data-cart-content class="cart-content-item">
                        {{> components/cart/content}}

                        <p class="cart-page-note">
                            Impachetarea a trei cadouri sunt gratuite. Orice impachetare de cadou peste trei obiecte costa 5 Lei pe obiect.
                        </p>
                    </div>
                    <div data-cart-totals class="cart-content-item">
                        {{> components/cart/totals}}

                        <div class="cart-total-note">
                            <h4 class="cart-total-note__title">Esti membru Stephanus?</h4>
                            <p class="cart-page-note">
                                <a href="#" data-login-form>Intra in cont</a> pentru a beneficia de transport gratuit la comenzi de cel putin 50 Lei.
                            </p>
                        </div>
                    </div>
                </div>
                {{{region name="cart_below_totals"}}}
                
            {{else}}
                <h3 class="cart-content-empty" tabindex="0">{{lang 'cart.checkout.empty_cart'}}</h3>
            {{/if}}
        </div>
    </div>
</div>
<div class="haloRecommendedBlock">
    {{> components/halothemes/product/halo-product-recommended-block 
        enable=theme_settings.haloRecommendedBlock_cart 
        title_recommended=theme_settings.haloRecommendedBlock_cart_title 
        type=theme_settings.haloRecommendedBlock_cart_type
    }}
</div>

{{/partial}}
{{> layout/base}}
