---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
---
{{#partial "page"}}
    <div class="page page-normal">
        <main class="page-content halo-page-content halo-how-it-work__content">
            {{#if page.sub_pages}}
                <nav class="navBar navBar--sub">
                    <ul class="navBar-section account-navigation">
                    {{#each page.sub_pages}}
                        <li class="navBar-item"><a class="navBar-action" href="{{url}}">{{title}}</a></li>
                    {{/each}}
                    </ul>
                </nav>  
            {{/if}}
            <div class="custom-page-layout">
                {{#replace '%%Syndicate%%' page.content}}
                    {{> components/page/rss_feed}}
                {{else}}
                    <div class="container">
                        {{{page.content}}}
                    </div>
                {{/replace}}
<!-- 
                {{{region name="custom_page_section_1"}}}
                {{{region name="custom_page_section_2"}}}
                {{{region name="custom_page_section_3"}}}
                {{{region name="custom_page_section_4"}}}
                {{{region name="custom_page_section_5"}}}
                {{{region name="custom_page_section_6"}}}
                {{{region name="custom_page_section_7"}}}
                {{{region name="custom_page_section_8"}}}
                {{{region name="custom_page_section_9"}}}
                {{{region name="custom_page_section_10"}}} -->

                <!-- Top Banner -->
                <div class="custom-section-top-banner custom-section-top-banner--editura halo-fadeInUp" data-halo-animate="0">
                    <div class="digital-banner-text">
                        <p class="banner-text text-type termina">EDITURA STEPHANUS</p>
                        <p class="banner-text text-title flecha-m">
                            Proclaiming the gospel message through publishing
                        </p>
                    </div>
                </div>

                <!-- Section History -->
                <div class="custom-section-history">
                    <div class="container">
                        <div class="history__content">
                            <h3 class="history__heading flecha-m">A brief history of 30 years</h3>
                            <div class="history__list">
                                <div class="history__item">
                                    <div class="block__item block__item--text">
                                        <p class="year flecha-m">1990</p>
                                        <p class="title flecha-m">Inaugurarea din 8 Decembrie</p>
                                        <p class="text">
                                            Inaugurarea Editurii Stephanus. Au trecut mai bine de trei decenii de cand primele carti publicate de Stephanus au vazut lumina zilei si au ajuns in mainile celor care, pana atunci, li se interzisesera sa aiba in casele lor literatura crestina.
                                        </p>
                                    </div>
                                    
                                    <span class="history__line"></span>
    
                                    <div class="block__item block__item--image">
                                        <img src="https://cdn11.bigcommerce.com/s-5xii52yioo/images/stencil/original/image-manager/history-banner.png" alt="History Banner">
                                    </div>
                                </div>
                                <div class="history__item">
                                    <div class="block__item block__item--text">
                                        <p class="year flecha-m">1990</p>
                                        <p class="title flecha-m">Inaugurarea din 8 Decembrie</p>
                                        <p class="text">
                                            Inaugurarea Editurii Stephanus. Au trecut mai bine de trei decenii de cand primele carti publicate de Stephanus au vazut lumina zilei si au ajuns in mainile celor care, pana atunci, li se interzisesera sa aiba in casele lor literatura crestina.
                                        </p>
                                    </div>
                                    
                                    <span class="history__line"></span>
    
                                    <div class="block__item block__item--image">
                                        <img src="https://cdn11.bigcommerce.com/s-5xii52yioo/images/stencil/original/image-manager/history-banner.png" alt="History Banner">
                                    </div>
                                </div>
                                <div class="history__item">
                                    <div class="block__item block__item--text">
                                        <p class="year flecha-m">1990</p>
                                        <p class="title flecha-m">Inaugurarea din 8 Decembrie</p>
                                        <p class="text">
                                            Inaugurarea Editurii Stephanus. Au trecut mai bine de trei decenii de cand primele carti publicate de Stephanus au vazut lumina zilei si au ajuns in mainile celor care, pana atunci, li se interzisesera sa aiba in casele lor literatura crestina.
                                        </p>
                                    </div>
                                    
                                    <span class="history__line"></span>
    
                                    <div class="block__item block__item--image">
                                        <img src="https://cdn11.bigcommerce.com/s-5xii52yioo/images/stencil/original/image-manager/history-banner.png" alt="History Banner">
                                    </div>
                                </div>
                                <div class="history__item">
                                    <div class="block__item block__item--text">
                                        <p class="year flecha-m">1990</p>
                                        <p class="title flecha-m">Inaugurarea din 8 Decembrie</p>
                                        <p class="text">
                                            Inaugurarea Editurii Stephanus. Au trecut mai bine de trei decenii de cand primele carti publicate de Stephanus au vazut lumina zilei si au ajuns in mainile celor care, pana atunci, li se interzisesera sa aiba in casele lor literatura crestina.
                                        </p>
                                    </div>
                                    
                                    <span class="history__line"></span>
    
                                    <div class="block__item block__item--image">
                                        <img src="https://cdn11.bigcommerce.com/s-5xii52yioo/images/stencil/original/image-manager/history-banner.png" alt="History Banner">
                                    </div>
                                </div>
                                <div class="history__item">
                                    <div class="block__item block__item--text">
                                        <p class="year flecha-m">1990</p>
                                        <p class="title flecha-m">Inaugurarea din 8 Decembrie</p>
                                        <p class="text">
                                            Inaugurarea Editurii Stephanus. Au trecut mai bine de trei decenii de cand primele carti publicate de Stephanus au vazut lumina zilei si au ajuns in mainile celor care, pana atunci, li se interzisesera sa aiba in casele lor literatura crestina.
                                        </p>
                                    </div>
                                    
                                    <span class="history__line"></span>
    
                                    <div class="block__item block__item--image">
                                        <img src="https://cdn11.bigcommerce.com/s-5xii52yioo/images/stencil/original/image-manager/history-banner.png" alt="History Banner">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="custom-section-button-with-text history-button-with-text halo-fadeInUp" data-halo-animate="7">
                    <div class="container">
                        <div class="custom-section-button-with-text__content">
                            <h3 class="heading flecha-m">Pentru autori</h3>
                            <p class="text">
                                Vrei sa publicam cartea ta?
                            </p>
                            <div class="button-wrapper">
                                <a href="#" class="button button--tertiary hover-gold btn-mobile">APLICA</a>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="how-it-work section-history__tabs halo-fadeInUp" data-halo-animate="4">
                    <div class="container">
                        <div class="how-it-work-content">
                            <h3 class="custom-page-heading-small">Procesul de publicare</h3>
                            <!-- Title -->
                            <div class="how-it-work__list">
                                <div class="how-it-work__item">
                                    <a class="how-it-work__title is-active" href="#pageTab1" aria-label="Tab Title 1">Pasul 1</a>
                                </div>
                                <div class="how-it-work__item">
                                    <a class="how-it-work__title" href="#pageTab2" aria-label="Tab Title 2">Pasul 2</a>
                                </div>
                                <div class="how-it-work__item">
                                    <a class="how-it-work__title" href="#pageTab3" aria-label="Tab Title 3">Pasul 3</a>
                                </div>
                            </div>
        
                            <!-- Content -->
                            <div class="how-it-work__contents max-w-1920">
                                <div class="how-it-work__content-wrapper">
                                    <div class="how-it-work__content is-active" id="pageTab1">
                                        <h4 class="custom-page-title">
                                        Inscrie-te
                                        </h4>
                                        <p class="custom-page-text">
                                        Prin inscrierea depusa, membralitatea este activata in contul tau de pe stephanus.ro.
                                        </p>
        
                                        <p class="custom-page-text">
                                        Vei primi o confirmarepe email.
                                        </p>
                                    </div>
                                </div>
        
                                <div class="how-it-work__content-wrapper">
                                    <div class="how-it-work__content" id="pageTab2">
                                        <h4 class="custom-page-title">
                                            Inscrie-te 2
                                            </h4>
                                            <p class="custom-page-text">
                                            Prin inscrierea depusa, membralitatea este activata in contul tau de pe stephanus.ro.
                                            </p>
        
                                            <p class="custom-page-text">
                                            Vei primi o confirmarepe email.
                                            </p>
                                    </div>
                                </div>
        
                                <div class="how-it-work__content-wrapper">
                                    <div class="how-it-work__content" id="pageTab3">
                                        <h4 class="custom-page-title">
                                            Inscrie-te 3
                                            </h4>
                                            <p class="custom-page-text">
                                            Prin inscrierea depusa, membralitatea este activata in contul tau de pe stephanus.ro.
                                            </p>
        
                                            <p class="custom-page-text">
                                            Vei primi o confirmarepe email.
                                            </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="custom-section-button-with-text history-button-with-text-2 halo-fadeInUp" data-halo-animate="7">
                    <div class="container">
                        <div class="custom-section-button-with-text__content">
                            <h3 class="heading flecha-m">Ai intrebari despre editura?</h3>
                            <p class="text">
                                Trimite-ne un email la editura@stephanus.ro
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {{#if page.feed}}
            <ul>
                {{#each page.feed}}
                    <li>
                        <h6><a href="{{url}}" target="_blank">{{title}}</a></h6>
                        <p>{{content}}</p>
                    </li>
                {{/each}}
            </ul>
        {{/if}}
    </div>

{{/partial}}

{{> layout/base}}
