<ul class="account-list order__list">
    {{#each orders}}
        <li class="account-listItem order__item">

            <!-- Title -->
            <a href="{{this.details_url}}" class="order-tab__title">
                <div class="title__item title__top">
                    <span class="item__left title__top--left">
                       <h3>{{this.status}}</h3>
                    </span>
                    <span class="item__right title__top--right">
                        {{this.total.formatted}}
                    </span>
                </div>

                <div class="title__item title__bottom">
                    <span class="item__left title__bottom--left">
                       <h4> Nr. Comanda: {{this.id}}</h4>
                    </span>
                    <span class="item__right title__bottom--right custom-order-date">
                        {{this.date}}
                    </span>
                </div>

                <div class="title__icon">
                    <span class="icon icon--arrow-dropdown">
                        <svg><use xlink:href="#icon-arrow-dropdown"></use></svg>
                    </span>
                </div>
            </a>

            <!-- Content -->
            <div class="order-tab__content">
                <div class="loading-scroll"></div>
            </div>
        </li>
    {{/each}}
</ul>
