{{#partial "page"}}
    <div class="container">
        <div class="page page-account custom-page-account">
            <div class="page-account__sidebar">
                {{> components/account/navigation account_page='addresses'}}
                {{> components/account/account-wishlist}}
            </div>

            <main class="page-content page-account__content">
                <div class="page-header">
                    <h1 class="page-heading flecha-m">
                        {{#if forms.address.address_id}}
                            {{lang 'forms.address.edit.heading'}}
                        {{else}}
                            {{lang 'forms.address.add.heading'}}
                        {{/if}}
                    </h1>
                </div>

                <div class="account-navigation-mobile"></div>

                <div class="account">
                    <div class="account-body">
                        <section class="account-content account-content2">
                            {{#if forms.address.error}}
                                {{> components/common/alert/alert-error forms.address.error}}
                            {{/if}}
                            <form action="{{forms.address.action}}" data-address-form class="form" method="post">
                                {{#if forms.address.address_id }}
                                    <input type="hidden" name="shipid" value="{{forms.address.address_id}}">
                                {{/if}}
                                <fieldset class="form-fieldset">
                                    <div class="form-row form-row--half">
                                        {{#each forms.address.shipping_fields }}
                                            {{{dynamicComponent 'components/common/forms'}}}
                                        {{/each}}
                                    </div>
                                </fieldset>
                                <div class="form-actions">
                                    <input type="submit" class="button button--tertiary" value="{{lang 'forms.address.submit_value'}}">
                                    <a href="{{urls.account.addresses}}" class="button button--primary">{{lang 'common.cancel'}}</a>
                                    {{inject 'required' (lang 'common.required')}}
                                    {{inject 'state_error' (lang 'errors.state_error')}}
                                </div>
                            </form>
                        </section>
                    </div>
                </div>

                <!-- Wishlist Mobile -->
                <div class="custom-account-wishlist-mobile page-account__sidebar"></div>
            </main>
        </div>
    </div>
{{/partial}}
{{> layout/base}}
