{{inject 'passwordRequirements' settings.password_requirements}}
{{#partial "page"}}
<div class="container">
    <div class="page page-account custom-page-account">
        <div class="page-account__sidebar">
            {{> components/account/navigation account_page='settings'}}
            {{> components/account/account-wishlist}}
        </div>
        <main class="page-content page-account__content">
            <div class="page-header">
                <h1 class="page-heading flecha-m">{{lang 'account.settings.heading' }}</h1>
            </div>

            <div class="account-navigation-mobile"></div>
            <div class="account">
                <div class="account-body">
                    <section class="account-content account-content2">
                        {{#if forms.edit_account.error}}
                            {{> components/common/alert/alert-error forms.edit_account.error}}
                        {{/if}}
                        {{#if forms.edit_account.success}}
                            {{> components/common/alert/alert-success forms.edit_account.success}}
                        {{/if}}
                        {{> components/account/edit-account}}
                    </section>
                </div>
            </div>

            <!-- Wishlist Mobile -->
            <div class="custom-account-wishlist-mobile page-account__sidebar"></div>
        </main>
    </div>
</div>
{{/partial}}
{{> layout/base}}
