{{#partial "page"}}
    <div class="container">
        <div class="page page-account custom-page-account">
            <div class="page-account__sidebar">
                {{> components/account/navigation account_page='menu_control'}}
                {{> components/account/account-wishlist}}
            </div>

            <main class="page-content page-account__content">
                <div class="page-header">
                    <h1 class="page-heading">Contul meu</h1>
                </div>

                <div class="account">
                    <div class="account-body">
                        <section class="account-content account-content2">
                            <h3 class="custom-account__title">Informatii despre cont</h3>

                            <div class="custom-account__info-list">
                                <div class="custom-account__info-item">
                                    <h4 class="item-title">Informatii de contact</h4>
                                    
                                    <div class="item-row">
                                        <div class="item-col col-25">
                                            <p class="col-title">Prenume</p>
                                            <p class="col-value col-value--last-name">{{split customer.name " "}}</p>
                                        </div>
                                        <div class="item-col col-25">
                                            <p class="col-title">Nume</p>
                                            <p class="col-value col-value--first-name">{{split customer.name " "}}</p>
                                        </div>

                                        <span class="testesesesess">{{customer.phone}}</span>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </main>
        </div>
    </div>
{{/partial}}
{{> layout/base}}
