{{#partial "page"}}
{{#if settings.show_wishlist}}
    <div class="container">
        <div class="page page-account custom-page-account">
            <div class="page-account__sidebar">
                {{> components/account/navigation account_page='wishlists'}}
                {{> components/account/account-wishlist}}
            </div>

            <main class="page-content page-account__content">
                <div class="page-header">
                    <h1 class="page-heading flecha-m">{{lang 'account.wishlists.heading' }}</h1>
                </div>

                <div class="account-navigation-mobile"></div>

                <div class="account">
                    <div class="account-body">
                        <section class="account-content account-content2">
                            {{> components/account/wishlist-list}}
                        </section>
                    </div>
                </div>

                <!-- Wishlist Mobile -->
                <div class="custom-account-wishlist-mobile page-account__sidebar"></div>
            </main>
        </div>
    </div>
{{/if}}
{{/partial}}
{{> layout/base}}
