<div class="accordion-nav-clear-holder">
    {{#if title '==' 'Brand'}}
        <a href="/brands">
            <button type="button"
            class="accordion-navigation toggleLink{{#unless start_collapsed}} is-open{{/unless}}"
            data-collapsible="#facetedSearch-content--{{dashcase facet}}"
            aria-label="{{lang 'search.faceted.toggleSection' title=title}}"
        >
            <span class="accordion-title">
                Autor
            </span>

            <span class="accordion-navigation-actions">
                <svg class="icon accordion-indicator toggleLink-text">
                    <use xlink:href="#slick-arrow-next" />
                </svg>
            </span>
        </button>
        </a>
    {{else}}
        <button type="button"
            class="accordion-navigation toggleLink{{#unless start_collapsed}} is-open{{/unless}}"
            data-collapsible="#facetedSearch-content--{{dashcase facet}}"
            aria-label="{{lang 'search.faceted.toggleSection' title=title}}"
        >
            <span class="accordion-title">
                {{title}}
            </span>

            <span class="accordion-navigation-actions">
                <svg class="icon accordion-indicator toggleLink-text">
                    <use xlink:href="#slick-arrow-next" />
                </svg>
            </span>
        </button>
    {{/if}}
</div>
