// =============================================================================
// ACCOUNT
// =============================================================================


// Account layouts
// -----------------------------------------------------------------------------

.account {
    display: block;
    margin: 0;
}

.account--fixed {
    @media (min-width: 1025px) {
        margin: 0 auto;
        width: grid-calc(8, $total-columns);
    }
}

.account--fixedSmall {
    @media (min-width: 1025px) {
        margin: 0 auto;
        width: grid-calc(6, $total-columns);
    }
}

.account--fixedLarge {
    @media (min-width: 1025px) {
        margin: 0 auto;
        width: grid-calc(9, $total-columns);
    }
}

.account-head {
    margin-bottom: spacing("double");
    text-align: center;

    .alertBox {
        padding-left: spacing("double");
        padding-right: spacing("double");
        text-align: left;
    }
}

.account-body {
    margin: 0;
    @include clearfix;
}

.account-content {
    @include grid-column(12);

    .alertBox {
        margin-top: 30px;
    }

    .productGrid {
        margin-top: 30px;

        .product {
            .form {
                text-align: center;
                margin-bottom: 0;
            }
        }
    }

    .account-row {
        margin: 30px 0 0 0;
    }

    &.account-content2 {
        padding-left: 0;
        padding-right: 0;
        float: none;
    }

    @media (min-width: 1025px) {
        .productGrid {
            .card-body {
                .card-body-button {
                    top: 0;
                }
            }

            .card {
                &:hover {
                    .card-body {
                        .card-body-button {
                            top: -60px;
                        }
                    }
                }
            }
        }
    }
}

.account-content--fixed {
    @media (min-width: 1025px) {
        width: grid-calc(8, $total-columns);
    }
}

.account-content--fixedSmall {
    padding-top: 45px;

    .account-product-title {
        font-size: $fontSize-root;
        text-transform: capitalize;
    }

    &.account-content2 {
        width: 100%;
    }

    @media (min-width: 1025px) {
        width: grid-calc(6, $total-columns);
    }
}

.account-sidebar {
    padding-top: 45px;
    @include grid-column(12);

    @media (min-width: 1025px) {
        width: grid-calc(4, $total-columns);

        .account-content--fixedSmall+& {
            float: right;
        }
    }
}

[data-create-account-form],
.new-password-form {
    margin: 0;

    .form-row {
        display: block;
        font-size: 0;
        letter-spacing: 0;
        margin: 0 -15px;
        max-width: unset;

        .form-field {
            display: inline-block;
            vertical-align: top;
            padding: 0 15px;
            width: 100%;
            margin: 0 0 20px 0;
            float: none;
        }

        .form-label {
            line-height: 20px;
            margin-bottom: 10px;
            text-transform: capitalize;

            small {
                font-size: $fontSize-root - 2px;
                font-style: italic;
                font-weight: $fontWeight-normal;
                letter-spacing: $letterSpacing-base;
                line-height: 20px;
                color: stencilColor('sale_price_color');
                text-transform: capitalize;
                margin-top: 0;
            }
        }
    }

    .form-actions {
        display: block;
        margin: 20px 0 0 0;
        text-align: center;

        .button {
            display: block;
            width: 100%;
            text-transform: uppercase;
        }
    }

    @media (min-width: 768px) {
        .form-row {
            margin-left: -15px;
            margin-right: -15px;

            .form-field {
                padding-left: 15px;
                padding-right: 15px;
                width: 50%;
            }
        }

        .form-actions {
            margin-top: 0;
            text-align: left;

            .button {
                display: inline-block;
                vertical-align: top;
                min-width: 270px;
                width: auto;
            }
        }
    }

    @media (min-width: 1600px) {
        .form-row {
            margin-left: -70px;
            margin-right: -70px;

            .form-field {
                padding-left: 70px;
                padding-right: 70px;
            }
        }
    }
}

.forgot-password-text,
.new-password-text {
    font-size: $fontSize-root;
    font-weight: $fontWeight-normal;
    color: $color-textSecondary;
    letter-spacing: $letterSpacing-base;
    line-height: 1.75;
    margin: 0 0 20px 0;
}

.new-password-text {
    +.button {
        text-transform: uppercase;
    }

    @media (min-width: 768px) {
        +.button {
            min-width: 270px;
        }
    }
}

.forgot-password-form {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;

    .button {
        display: block;
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-transform: uppercase;
        margin: 20px 0 0 0;
    }

    @media (min-width: 768px) {
        .button {
            width: auto;
            margin-left: 20px;
            margin-top: 0;
            min-width: 270px;
        }
    }
}

.page-type-account_orderstatus,
.page-type-account_inbox,
.page-type-account_addressbook,
.page-type-wishlist,
.page-type-wishlists,
.page-type-account_recentitems,
.page-type-editaccount,
.page-type-shippingaddressform,
.page-type-add-wishlist {
    .panel-body {
        background: #fafafa;
    }

    .form-input[readonly] {
        background-color: #fafafa;
    }
}

[data-account-wishlist-form] {
    .form-label {
        small {
            font-size: $fontSize-root - 1px;
            font-style: normal;
            font-weight: $fontWeight-normal;
            text-transform: capitalize;
            line-height: 16px;
        }
    }
}

.page-type-newsletter_subscribe {
    .alertBox {
        margin-top: 32px;
    }
}

[data-inbox-form],
[data-add-wishlist-form],
[data-address-form],
[data-edit-account-form],
[data-payment-method-form] {
    margin: 40px 0 0;

    .form-row {
        display: block;
        font-size: 0;
        letter-spacing: 0;
        margin: 0 -15px;
        max-width: unset;

        .form-field {
            display: inline-block;
            vertical-align: top;
            padding: 0 15px;
            width: 100%;
            margin: 0 0 20px 0;
            float: none;
        }

        .form-label {
            small {
                font-size: $fontSize-root - 1px;
                font-style: normal;
                font-weight: $fontWeight-normal;
                text-transform: capitalize;
                line-height: 16px;
            }
        }

        .form-select {
            height: 45px;
        }
    }

    .form-field,
    .form-field--textarea {
        .form-label {
            small {
                font-size: $fontSize-root - 1px;
                font-style: normal;
                font-weight: $fontWeight-normal;
                text-transform: capitalize;
                line-height: 16px;
            }
        }
    }


    .form-actions {
        display: block;
        font-size: 0;
        letter-spacing: 0;
        margin: 20px 0 0 0;
        text-align: center;
        max-width: 100%;

        .button {
            display: block;
            width: 100%;
            text-transform: uppercase;
        }
    }

    @media (max-width: 767px) {
        .form-actions {
            .button {
                +.button {
                    margin-left: 0;
                }
            }
        }
    }

    @media (min-width: 768px) {
        .form-row {
            margin-left: -15px;
            margin-right: -15px;

            .form-field {
                padding-left: 15px;
                padding-right: 15px;
                width: 50%;
            }
        }

        .form-actions {
            margin-top: 0;
            text-align: left;

            .button {
                display: inline-block;
                vertical-align: top;
                max-width: 238px !important;

                +.button {
                    margin-top: 0;
                    margin-left: 20px;
                }
            }

            [data-wishlist-delete] {
                margin-top: 0;
                margin-left: 20px;
            }
        }
    }

    @media (min-width: 1600px) {
        .form-row {
            margin-left: -15px;
            margin-right: -15px;

            .form-field {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}

[data-message-account-form],
[data-account-return-form] {
    margin: 0;

    .form-select {
        background-size: unset;
    }

    .return-itemQuantity {
        .form-select {
            background-position: right 5px top 12px;
        }
    }

    .form-row {
        display: block;
        font-size: 0;
        letter-spacing: 0;
        margin: 0 -15px;
        max-width: unset;

        .form-field {
            display: inline-block;
            vertical-align: top;
            padding: 0 15px;
            width: 100%;
            margin: 0 0 20px 0;
            float: none;
        }

        .form-label {
            small {
                font-size: $fontSize-root - 1px;
                font-style: normal;
                font-weight: $fontWeight-normal;
                text-transform: capitalize;
                line-height: 16px;
            }
        }

        .form-select {
            height: 45px;
        }
    }

    .form-field--textarea {
        .form-label {
            small {
                font-size: $fontSize-root - 1px;
                font-style: normal;
                font-weight: $fontWeight-normal;
                text-transform: capitalize;
                line-height: 16px;
            }
        }
    }

    .form-actions {
        display: block;
        margin: 20px 0 0 0;
        text-align: center;
        font-size: 0;
        letter-spacing: 0;

        .button {
            display: block;
            width: 100%;
            text-transform: uppercase;
        }
    }

    @media (min-width: 768px) {
        .form-row {
            margin-left: -15px;
            margin-right: -15px;

            .form-field {
                padding-left: 15px;
                padding-right: 15px;
                width: 50%;
            }
        }

        .form-actions {
            margin-top: 0;
            text-align: left;

            .button {
                display: inline-block;
                vertical-align: top;
                max-width: 300px !important;

                +.button {
                    margin-top: 0;
                    margin-left: 20px;
                }
            }
        }
    }

    @media (min-width: 1600px) {
        .form-row {
            margin-left: -15px;
            margin-right: -15px;

            .form-field {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}

[data-account-wishlist-form] {
    margin: 40px auto 0 auto;

    .form-label {
        small {
            font-size: $fontSize-root -1px;
            font-style: normal;
            font-weight: $fontWeight-normal;
            text-transform: capitalize;
            line-height: 16px;
        }
    }

    .form-select {
        height: 45px;
    }
}

[data-add-giftcertificates-form] {
    margin: 40px auto 0 auto;
    max-width: 100%;

    .form-field {
        margin-bottom: 20px;
    }

    .form-label {
        small {
            font-size: $fontSize-root - 2px;
            font-style: italic;
            font-weight: $fontWeight-normal;
            text-transform: capitalize;
        }
    }

    .form-select {
        height: 50px;
    }

    .form-actions {
        .button {
            margin-left: 0;
            width: 100%;
        }
    }

    @media (min-width: 768px) {
        max-width: 34.375rem;
    }
}

[data-giftcertificates-form] {
    margin: 30px 0 0 0;

    .form-row {
        display: block;
        font-size: 0;
        letter-spacing: 0;
        margin: 0 -15px;
        max-width: unset;

        .form-field {
            display: inline-block;
            vertical-align: top;
            padding: 0 15px;
            width: 100%;
            margin: 0 0 20px 0;
            float: none;
        }

        .form-label {
            line-height: 20px;
            margin-bottom: 10px;

            small {
                font-size: $fontSize-root;
                font-style: italic;
                font-weight: $fontWeight-normal;
                text-transform: capitalize;
                margin: 0;
            }
        }

        .form-select {
            height: 50px;
        }

        .form-field--textarea {
            .form-input {
                min-height: 165px;
                line-height: inherit;
            }
        }

        .form-radio {
            +.form-label {
                color: $color-textSecondary;
                margin-bottom: 15px;
            }
        }

        .form-field--checkbox {
            margin-top: 4px;
            margin-bottom: 0;

            .form-checkbox {
                +.form-label {
                    color: $color-textSecondary;
                }
            }

            +.form-field--checkbox {
                margin-top: 3px;
            }
        }

        .form-field-group {
            border-radius: 0;
            border-color: #fafafa;
            background-color: #fafafa;
            padding: 17px 22px 10px 22px;
        }
    }

    .form-column {
        padding-left: 0;
        padding-right: 0;
        width: 100%;

        +.form-column {
            margin-top: 15px;
        }
    }

    .form-actions {
        display: block;
        margin: 0;
        text-align: center;
        max-width: 100%;
        font-size: 0;
        letter-spacing: 0;

        .button {
            display: block;
            width: 100%;
            text-transform: uppercase;
            margin-left: 0;

            &:first-child {
                color: $buttonStyle-primary-borderColor;
                background-color: transparent;
            }

            +.button {
                margin-top: 20px;
                margin-left: 0;
            }
        }
    }

    @media (min-width: 768px) {
        .form-row {
            margin-left: -15px;
            margin-right: -15px;

            .form-field {
                padding-left: 15px;
                padding-right: 15px;
                width: 50%;
            }

            .form-column {
                .form-field {
                    width: 100%;
                }
            }
        }

        .form-column {
            width: 50%;

            +.form-column {
                margin-top: 0;
            }
        }

        .form-actions {
            text-align: right;
            width: 50%;
            float: right;

            .button {
                display: inline-block;
                vertical-align: top;
                width: calc(100% - 15px);

                +.button {
                    width: calc(100% - 15px);
                    margin-top: 15px;
                }
            }
        }
    }

    @media (min-width: 1025px) {
        .form-row {
            margin-left: -35px;
            margin-right: -35px;

            .form-field {
                padding-left: 35px;
                padding-right: 35px;
            }
        }

        .form-actions {
            .button {
                width: 190px;

                &:first-child {
                    &:hover {
                        color: $buttonStyle-primary-colorActive;
                        border-color: $buttonStyle-primary-borderColorActive;
                        background-color: $buttonStyle-primary-backgroundColorActive;
                    }
                }

                +.button {
                    width: calc(100% - 240px);
                    margin-left: 15px;
                    margin-top: 0;
                }
            }
        }
    }

    @media (min-width: 1600px) {
        .form-row {
            margin-left: -70px;
            margin-right: -70px;

            .form-field {
                padding-left: 70px;
                padding-right: 70px;
            }
        }

        .form-actions {
            padding-top: 10px;

            .button {
                +.button {
                    width: calc(100% - 275px);
                }
            }
        }
    }
}

/* Overplay css loading */
@keyframes customSpin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.wislist-loading {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 4px solid #252525;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: customSpin 1s linear infinite;
    margin: 0 auto;
}

.loading-scroll {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 4px solid #252525;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: customSpin 1s linear infinite;
    margin: 0 auto;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Custom Account Layout */
#main-content {
    &:has(.custom-page-account) {
        margin-bottom: 110px;
    }
}
.page-account.custom-page-account {
    display: flex;
    margin-left: -52px;
    margin-right: -52px;

    @media (max-width: 767px) {
        flex-direction: column;
    }

    .navbar-title-mb {
        color: #252525;
        font-family: "flecha-s";
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.1px;
        margin-top: 13px;
        margin-bottom: 20px;

        @media (min-width: 768px) {
            display: none;
        }
    }

            
    .navBar--account {
        margin: 0;
        .navBar-section {
            margin: 0;
            display: flex;
            flex-direction: column;
            border: none;

            .navBar-item {
                width: 100%;
                padding: 0;
                text-align: left;
                border: none;
                padding: 9px 14px 5px;
                margin-bottom: 8px;

                .navBar-action {
                    border: none !important;
                    padding: 0;
                    color: #252525;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 18px; /* 112.5% */
                    letter-spacing: 0.1px;
                    text-transform: unset;
                    background-color: transparent;
                }

                &.is-active {
                    border-left: 1px solid #252525;
                    .navBar-action {
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .page-account__sidebar {
        width: 100%;
        max-width: 496px;
        padding-left: 52px;
        padding-right: 52px;

        @media (max-width: 767px) {
            max-width: 100%;
        }

        /* Wish List Sidebar */
        .custom-account-wishlist {
            margin-top: 65px;

            @media (max-width: 767px) {
                margin-top: 60px;
            }

            .account-wishlist__header {
                color: #252525;
                font-family: "flecha-s";
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.1px;
                margin: 0;
            }

            .account-wishlist__list {
                position: relative;
                padding-top: 40px;

                .product {
                    position: relative;
                    list-style: none;
                    
                    .custom-text{
                        display: none;
                    }
                    .card {
                        display: flex;
                        margin-left: -12px;
                        margin-right: -12px;
                        
                        .card-figure {
                            width: 100%;
                            max-width: 104px;
                            display: block;
                            padding-left: 12px;
                            padding-right: 12px;
                            .card-img-container {
                                img {
                                    width: 80px;
                                    height: 80px;
                                    margin: 0;
                                }
                            }
                        }
                        
                        .card-body {
                            padding: 0 12px 0;
                            max-width: 235px;
                            text-align: left;

                            @media (max-width: 767px) {
                                max-width: calc(100% - 150px);
                            }
                            
                            .card-title {
                                > a {
                                    color: #252525;
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 18px; /* 150% */
                                    letter-spacing: 0.1px;
                                    font-family: "Work Sans";
                                }
                            }
                            
                            .card-wrapper {
                                justify-content: flex-start;

                                @media (max-width: 767px) {
                                    align-items: flex-start;
                                }
                                
                                .price {
                                    color: #252525;
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 18px; /* 150% */
                                    letter-spacing: 0.1px;
                                }
                            }
                            
                            .card-figcaption-bottom {
                                .button {
                                    margin: 0;
                                }
                            }
                        }
                    }
                    
                    .form {
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: fit-content;
                        margin: 0;
                        
                        .button {
                            font-size: 0;
                            width: 24px;
                            height: 24px;
                            padding: 0;
                            background-color: transparent;
                            border: none;
                            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z" fill="%23F7F3E8"/><path d="M8 8L11.9782 12L8 16" stroke="%23252525" stroke-width="1.25" stroke-linejoin="bevel"/><path d="M15.6719 16L11.6937 12L15.6719 8" stroke="%23252525" stroke-width="1.25" stroke-linejoin="bevel"/></svg>');
                        }
                    }
                    
                    + .product {
                        margin-top: 20px;
                    }
                }
            }

            .account-wishlist__action {
                > a {
                    color: #252525;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 18px; /* 112.5% */
                    letter-spacing: 0.1px;
                    text-decoration-line: underline;
                    margin-top: 38px;
                    display: inline-block;

                    @media (max-width: 767px) {
                        font-size: 12px;
                    }
                }
            }
        }

        &.custom-account-wishlist-mobile {
            @media (max-width: 767px) {
                padding: 0;
            }
        }
    }

    .page-account__content {
        padding-left: 52px;
        padding-right: 52px;

        .page-header {
            .page-heading {
                color: #252525;
                font-size: 56px;
                font-style: normal;
                font-weight: 400;
                line-height: 63px; /* 178.571% */
                letter-spacing: -0.84px;
                text-transform: unset;

                @media (max-width: 767px) {
                    font-size: 40px;
                    letter-spacing: -0.6px;
                }
            }
        }

        .account-body {
            .custom-account__title {
                color: #252525;
                font-size: 48px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.72px;
                margin-bottom: 30px;

                @media (max-width: 767px) {
                    font-size: 32px;
                    letter-spacing: -0.48px;
                    margin-top: 39px;
                }
            }
            
            .custom-account__info-list {
                .custom-account__info-item {
                    border-top: 1px solid #F7F3E8;
                    padding-top: 15px;
                    padding-bottom: 37px;

                    @media (max-width: 767px) {
                        padding-bottom: 29px;
                    }

                    &:last-child() {
                        border-bottom: 1px solid #F7F3E8;
                    }

                    .item-title {
                        color: #252525;
                        font-family: "flecha-s";
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 0.1px;
                        margin-bottom: 39px;

                        @media (max-width: 767px) {
                            font-size: 20px;
                            margin-top: 20px;
                            margin-bottom: 12px;
                            margin-bottom: 23px;
                        }
                    }

                    .item-row {

                        + .item-row {
                            margin-top: 24px;

                            @media (max-width: 767px) {
                                margin-top: -5px;
                            }
                        }

                        .item-col {
                            @media (min-width: 1025px) {
                                &.l-4 {
                                    &:nth-child(1) {
                                        max-width: 17.7%;
                                        flex: 0 0 17.7%;
                                    }
    
                                    &:nth-child(2) {
                                        max-width: 28.3%;
                                        flex: 0 0 28.3%;
                                    }
    
                                    &:nth-child(3) {
                                        max-width: 28.7%;
                                        flex: 0 0 28.7%;
                                    }
                                }

                                &.l-2 {
                                    max-width: 46%;
                                }
                            }

                            @media (max-width: 767px) {
                                &.s-2 {
                                    max-width: 46.5%;
                                }
                            }

                            .col-title {
                                color: #252525;
                                font-family: "Work Sans";
                                font-size: 12px;  
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                letter-spacing: 0.1px;
                                margin-bottom: 13px;

                                @media (max-width: 767px) {
                                    margin-bottom: 6px;
                                }
                            }

                            .col-value {
                                color: #252525;
                                font-family: "Work Sans";
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                letter-spacing: 0.1px;
                                max-width: 200px;

                                @media (max-width: 767px) {
                                    margin-bottom: 32px;

                                    &.col-value--address2,
                                    &.col-value--marketing,
                                    &.col-value--payment-name {
                                        margin-top: 9px;
                                        margin-bottom: 2px;
                                    }
                                }

                                &.col-value--password {
                                    margin-top: 18px;

                                    @media (max-width: 767px) {
                                        margin-top: 9px;
                                        margin-bottom: 2px;
                                    }
                                }

                                .icon--view-password {
                                    cursor: pointer;
                                    transform: translate(17px, -8px);

                                    svg {
                                        fill: transparent;
                                    }
                                }
                            }
                        }
                    }

                    .custom-account-modify {
                        text-decoration: underline;
                        display: inline-block;
                        margin-top: 13px;
                    }
                }
            }
        }
    }
}

/* Order Page */
.custom-page-account--order {
    .account-body {
        .order__list {
            .order__item {
                border-bottom: 1px solid #F7F3E8 ;
                padding-top: 12px;
                padding-bottom: 36px;

                &:first-child {
                    border-top: 1px solid #F7F3E8 ;
                }
                /* Title */
                .order-tab__title {
                    position: relative;
                    cursor: pointer;
                    
                    .title__item {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding-right: 100px;

                        .item__left {
                            h3 {
                                color: #252525;
                                font-family: "flecha-s";
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: normal;
                                letter-spacing: 0.1px;
                                margin-top: 30px;
                                margin-bottom: 0;
                            }

                            h4 {
                                color: #252525;
                                font-family: "Work Sans";
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 18px; /* 112.5% */
                                letter-spacing: 0.1px;
                                margin-top: 12px;
                                margin-bottom: 0;
                            }
                        }

                        .item__right {
                            color: #252525;
                            font-family: "Work Sans";
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 18px; /* 150% */
                            letter-spacing: 0.1px;
                        }

                    }
                    .title__icon {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                    }

                }

                .order-tab__content {
                    display: none;
                }

                &.is-open {
                    .title__icon {
                        transform: translateY(-50%) rotate(180deg);
                    }

                    .order-tab__content {
                        display: flex;
                        flex-direction: row-reverse;
                        margin-right: -24px;
                        margin-left: -24px;

                        .account-content {
                            flex: 1;
                            padding-left: 24px;
                            padding-right: 24px;
                            padding-top: 67px;


                            .order-product-count {
                                color: #252525;
                                font-family: "Work Sans";
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 18px; /* 150% */
                                letter-spacing: 0.1px;
                            }

                            .custom-order-content {
                                width: calc(100% - 100px);
                                border-bottom: 1px solid #F7F3E8;

                                .account-listShipping {
                                    display: none;
                                }

                                .account-listItem {
                                    padding: 0;
                                    border: none;

                                    .account-product-checkItem {
                                        left: 0;
                                    }
                                }
                            }

                            .account-orderTotal {
                                width: calc(100% - 100px);
                                float: left;
                                padding-top: 8px;

                                .account-orderTotal-value {
                                    border-bottom: none;
                                    padding-top: 0px;
                                    padding-bottom: 0;
                                    color: #252525;
                                    font-family: "Work Sans";
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 18px; /* 150% */
                                    letter-spacing: 0.1px;


                                    &:last-child {
                                        font-weight: 500;
                                    }
                                }

                                .account-orderTotal-key {
                                    padding-top: 0px;
                                    padding-bottom: 0;
                                    color: #252525;
                                    font-family: "Work Sans";
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                    letter-spacing: 0.1px;

                                    &:nth-last-child(2) {
                                        font-weight: 500;
                                    }
                                }
                            }
                        }

                        .account-sidebar {
                            width: 50%;
                            padding-left: 24px;
                            padding-right: 24px;
                            max-width: 232px;
                            padding-top: 67px;

                            .account-sidebar-block {
                                .account-heading {
                                    border-bottom: none;
                                    color: #252525;
                                    font-family: "Work Sans";
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 18px; /* 150% */
                                    letter-spacing: 0.1px;
                                    padding-bottom: 0;
                                    margin-bottom: 10px;
                                }

                                .definitionList-value {
                                    color: #252525;
                                    font-family: "Work Sans";
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 18px; /* 150% */
                                    letter-spacing: 0.1px;
                                }

                                + .account-sidebar-block {
                                    margin-top: 24px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .pagination {
            border-top: none;
        }
    }
}

/* Wishlist Page */
.product-wishlist-item {
    .wish-list-brand-name {
        color: #252525;
        text-align: center;
        font-family: "Work Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: 0.1px;
    }
}